html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}
/* Estilizando cabeçalho */
.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding-top: 10px;
}

.cabecalho .logo_linkinpark {
    width: 90px;
    height: 60px;
}

.cabecalho .main_title {
    font-size: 40px;
}

/* Estilizando a página principal */
.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

/* Estilizando as palavras e colocando em negrito */
.bold {
    font-weight: bold;
}

/* Estilizando a primeira imagem */
.featured_image {
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

/* Estilizando a biografia */
.biography_container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

/* Estilizando a citação ou quotes */
.quotes_container {
    background-color: #ddd;
    padding: 30px;
}

.quotes_container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes_container p {
    font-style: italic;
}

/* Estilizando as curiosidades */
.curiosities_container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities_container li {
    height: 60px;
    padding: 10px 0;
}

.quotes_container .music_text {
    font-size: 20px;
}

/* Imagem bold */
.img_bold {
    font-weight: bold;
    text-align: center;
}